**/__pycache__
**/QUnfold.egg*
**/build
**/dist
**/.hypothesis
studies/RooUnfold/RooUnfold
.vscode
**/.tox
**/.mypy_cache
**/.pytest_cache
HEP_deps
**/output
data
ATLAS
img/benchmarks
img/comparisons
img/QUnfold
img/RooUnfold