name: Publish Docker image

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:

  publish:

    runs-on: ubuntu-latest
    strategy:
     fail-fast: false
     matrix:
      include:
        - dockerfile: Dockerfile
          tagname: qunfold
        - dockerfile: Dockerfile.dev
          tagname: qunfold-dev
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build
      uses: docker/build-push-action@v6
      with:
        file: ${{ matrix.dockerfile }}
        platforms: linux/amd64,linux/arm64
        tags: marcolorusso/${{ matrix.tagname }}:latest

      
      
      
